body {
    background-color: chocolate;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu {
    display: flex;
    justify-content: flex-end;
    width: 60%;
    height: 70%;
    background-color: rgb(97, 97, 97);
}


.calc {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cornflowerblue;
    width: 69%;
}


input, span {
    margin-top: 14px;
    font-size: 18px;
}

button {
    margin-top: 25px;
    font-size: 20px;
}


.elementos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cadetblue;
    width: 30%;
    padding-left: 15px;
}

#res {
    font-size: 20px;
}

@media screen {
    @media (max-width: 590px) {
        /* .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
        } */
        .menu {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            /* background-color: transparent; */
            width: 75%;
            height: 170%;
        }
        .calc {
            width: 100%;
            height: 50%;
        }
        .elementos {
            width: 97%;
            height: 50%;
            padding-top: 10%;
        }
        .elementos h1, img{
          text-align: center;
          display: block;
          margin: auto;
          padding-top: 3%;
        }
    }
}