*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #464544;
}

:root {
  --background-color-menu-container: blue;
  --background-color-menu-container-1: radial-gradient(
    circle,
    rgba(13, 13, 228, 1) 0%,
    rgb(25, 68, 161) 72%
  );
  --background-color-menu-container-2: radial-gradient(
    circle,
    rgb(212, 37, 37) 0%,
    rgb(175, 18, 18) 100%
  );
  --background-color-menu-container-3: radial-gradient(
    circle,
    rgba(245, 255, 0, 1) 0%,
    rgba(182, 175, 20, 1) 41%,
    rgba(117, 121, 17, 1) 100%
  );
}

.container_equip {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.menu_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 47%;
  height: 100%;
  font-size: 1em;
  margin: 10px;
  background-color: var(--background-color-menu-container);
  color: white;
  border-radius: 10px;
  box-shadow: 3px 2px 5px 2px #000;
}

.menu_container_blocos {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.container_arma_primaria:nth-child() {
  background-color: green;
}

.container_arma_primaria:nth-child(2) {
  background-color: red;
}

/* Items */
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
  background-color: #353535;
  box-shadow: 3px 2px 5px 2px #000;
}

.items_nome {
  display: flex;
  font-weight: bold;
}

.items_imagem {
  padding-bottom: 5%;
}

.items_imagem img {
  width: 91px;
  height: 91px;
}

.items_lista {
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 290px;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  padding: 0 10px;
  /* text-shadow: 2px 2px 2px #000; */
  background-color: #464544;
  box-shadow: 0px 0px 5px #000 inset;
}

.total {
  text-align: center;
}

.cor_1 {
  background: var(--background-color-menu-container-1);
}

.cor_2 {
  background: var(--background-color-menu-container-2);
}

.cor_3 {
  background: var(--background-color-menu-container-3);
}

@media (min-width: 780px) and (max-width: 1590px) {
  .menu_container {
    width: 90%;
    text-align: center;
  }
  .menu_container_blocos {
    width: 95%;
    padding-bottom: 3%;
  }
  .items_imagem {
    padding-bottom: 5%;
  }
}

@media (min-width: 320px) and (max-width: 779px) {
  .container_equip {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu_container {
    width: 80%;
    align-items: center;
  }
  .menu_container_blocos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding-bottom: 3%;
    text-align: center;
  }
  .item {
    width: 80%;
  } 
  .items_lista {
    width: 75%;
    font-size: 14px;
  }
  .items_lista p {
    font-size: calc(0.9em + 0.5vw);
  }
  .items_imagem {
    padding-bottom: 5%;
  }
}

/* Under 300px */
@media (max-width: 319px) {
  body {
  display: none;
  }
}
