@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --cor_texto: #fff;
}

body {
  background-image: url(../../images/inicio/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-link, .navbar-text , a {
  color: white!important;
  margin-left: 10px;
  text-decoration: none!important;
}

.footer-text {
  margin-left: 625px!important;
  font-size: 17px!important;
}

.conteudo {
  display: flex;
}

.conteudo h3 {
  position: absolute;
  top: 200px;
  left: 100px;
  color: #fff;
  font-size: 80px;
  text-align: center;
  text-shadow: 2px 2px 2px #000;
  font-family: 'Caudex', serif;
}

/* RESPONSIVIDADE

/* Under 320px Mobile */
@media screen {
  @media (max-width: 320px){
    body {
      background-image: none;
    }
    .conteudo h3 {
    display: none;
    }
  }
}

/* Under Mobile 2 */
@media screen {
  @media (min-width: 320px) and (max-width: 369px){
    body {
      background-image: url(/images/mobile/celular.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .conteudo h3 {
      position: absolute;
      top: 140px;
      left: 230px;
      color: #fff;
      font-size: 17px;
      text-shadow: 2px 2px 2px #000;
      font-family: 'Caudex', serif;
    }
  }
}

/* Under Mobile */
@media screen {
  @media (min-width: 370px) and (max-width: 485px){
    body {
      background-image: url(/images/mobile/celular.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .conteudo h3 {
      position: absolute;
      top: 140px;
      left: 250px;
      color: #fff;
      font-size: 22px;
      text-shadow: 2px 2px 2px #000;
      font-family: 'Caudex', serif;
    }
  }
}

/* Mobile */
@media screen {
  @media (min-width: 486px) and (max-width: 580px){
    body {
      background-image: url(/images/mobile/celular.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .conteudo h3 {
      position: absolute;
      top: 140px;
      left: 290px;
      color: #fff;
      font-size: 35px;
      text-shadow: 2px 2px 2px #000;
      font-family: 'Caudex', serif;
    }
  }
}

/* Tablet */
@media screen {
  @media (min-width: 581px) and (max-width: 1025px) {
    body {
      background-image: url(/images/mobile/tablet.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .conteudo h3 {
      position: absolute;
      top: 200px;
      left: 90px;
      color: #fff;
      font-size: 40px;
      text-align: center;
      text-shadow: 2px 2px 2px #000;
      font-family: 'Caudex', serif;
    }
    .footer-text {
      margin-left: 65px!important;
      font-size: 14px!important;
    }
  }
}

/* Desktop 1 */

@media screen {
  @media (min-width: 1280px) and (max-width: 1370px) {
    body {
    }
  }
}
