/* TOOLTIP 1 */

.container-topltip {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #333;
}

.tooltip {
  position: absolute;
  left: 36.5%;
  top: 27.5%;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #777;
  border-radius: 50%;
  margin: 0 20px;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}

.tooltip:hover {
  background: #86ff3b;
  box-shadow: 0 0 0 4px #333, 0 0 0 6px #86ff3b;
}

.tooltip .conteudo {
  position: absolute;
  top: 55px;
  width: 350px;
  height: 275px;
  background: #121212;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateX(-50%) translateY(-50px);
}

.tooltip .conteudo .cobre {
  position: absolute;
  top: 43px;
  left: 25px;
  width: 85px;
  height: 85px;
}

.tooltip .conteudo .po {
  position: absolute;
  top: 158px;
  left: 32px;
  width: 80px;
  height: 80px;
}

.tooltip .conteudo p {
  position: relative;
  font-size: 21px;
  margin-left: 90px;
  padding: 10px;
}

.tooltip .conteudo p {
  position: relative;
  font-size: 21px;
  margin-left: 90px;
  padding: 10px;
}

.tooltip .conteudo h2 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.tooltip .conteudo:before {
  content: "";
  position: absolute;
  top: -9px;
  width: 30px;
  height: 30px;
  background: #121212;
  bottom: -15px;
  left: 170px;
  transform: rotate(45deg);
}

.tooltip:hover .conteudo {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0px);
}

/* ================================= TABELAS ================================= */

.tabela {
  position: absolute;
  left: 48%;
  text-align: center;
  /* background-color: rgb(255, 0, 0); */
}

.tabela2 {
  position: absolute;
  top: 152px;
  left: 48%;
  text-align: center;
  /* background-color: rgb(255, 0, 0); */
}

/* ================================= TOOLTIP 2 ================================= */

.container-topltip2 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #333;
}

.tooltip2 {
  position: absolute;
  left: 84.8%;
  top: 27.5%;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #777;
  border-radius: 50%;
  margin: 0 20px;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}

.tooltip2:hover {
  background: #86ff3b;
  box-shadow: 0 0 0 4px #333, 0 0 0 6px #86ff3b;
}

.tooltip2 .conteudo2 {
  position: absolute;
  top: 55px;
  width: 350px;
  height: 275px;
  background: #121212;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateX(-50%) translateY(-50px);
}

.tooltip2 .conteudo2 .cobre2 {
  position: absolute;
  top: 43px;
  left: 25px;
  width: 85px;
  height: 85px;
}

.tooltip2 .conteudo2 .po2 {
  position: absolute;
  top: 158px;
  left: 32px;
  width: 80px;
  height: 80px;
}

.tooltip2 .conteudo2 p {
  position: relative;
  font-size: 21px;
  margin-left: 90px;
  padding: 10px;
}

.tooltip2 .conteudo2 p {
  position: relative;
  font-size: 21px;
  margin-left: 90px;
  padding: 10px;
}

.tooltip .conteudo h2 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.tooltip2 .conteudo2:before {
  content: "";
  position: absolute;
  top: -9px;
  width: 30px;
  height: 30px;
  background: #121212;
  bottom: -15px;
  left: 170px;
  transform: rotate(45deg);
}

.tooltip2:hover .conteudo2 {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0px);
}

/* ================================= TOOLTIP 3 ================================= */

.container-topltip3 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #333;
}

.tooltip3 {
  position: absolute;
  left: 36.5%;
  top: 91%;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #777;
  border-radius: 50%;
  margin: 0 20px;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}

.tooltip3:hover {
  background: #86ff3b;
  box-shadow: 0 0 0 4px #333, 0 0 0 6px #86ff3b;
}

.tooltip3 .conteudo3 {
  position: absolute;
  top: 55px;
  width: 350px;
  height: 275px;
  background: #121212;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateX(-50%) translateY(-50px);
}

.tooltip3 .conteudo3 .cobre3 {
  position: absolute;
  top: 43px;
  left: 25px;
  width: 85px;
  height: 85px;
}

.tooltip3 .conteudo3 .po3 {
  position: absolute;
  top: 158px;
  left: 32px;
  width: 80px;
  height: 80px;
}

.tooltip3 .conteudo3 p {
  position: relative;
  font-size: 21px;
  margin-left: 90px;
  padding: 10px;
}

.tooltip3 .conteudo3 p {
  position: relative;
  font-size: 21px;
  margin-left: 90px;
  padding: 10px;
}

.tooltip3 .conteudo3 h2 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.tooltip3 .conteudo3:before {
  content: "";
  position: absolute;
  top: -9px;
  width: 30px;
  height: 30px;
  background: #121212;
  bottom: -15px;
  left: 170px;
  transform: rotate(45deg);
}

.tooltip3:hover .conteudo3 {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0px);
}

/* ================================= TOOLTIP 4 ================================= */

.container-topltip4 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #333;
}

.tooltip4 {
  position: absolute;
  left: 84.8%;
  top: 91%;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #777;
  border-radius: 50%;
  margin: 0 20px;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}

.tooltip4:hover {
  background: #86ff3b;
  box-shadow: 0 0 0 4px #333, 0 0 0 6px #86ff3b;
}

.tooltip4 .conteudo4 {
  position: absolute;
  top: 55px;
  width: 350px;
  height: 275px;
  background: #121212;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateX(-50%) translateY(-50px);
}

.tooltip4 .conteudo4 .cobre4 {
  position: absolute;
  top: 43px;
  left: 25px;
  width: 85px;
  height: 85px;
}

.tooltip4 .conteudo4 .po4 {
  position: absolute;
  top: 158px;
  left: 32px;
  width: 80px;
  height: 80px;
}

.tooltip4 .conteudo4 p {
  position: relative;
  font-size: 21px;
  margin-left: 90px;
  padding: 10px;
}

.tooltip4 .conteudo4 p {
  position: relative;
  font-size: 21px;
  margin-left: 90px;
  padding: 10px;
}

.tooltip4 .conteudo4 h2 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.tooltip4 .conteudo4:before {
  content: "";
  position: absolute;
  top: -9px;
  width: 30px;
  height: 30px;
  background: #121212;
  bottom: -15px;
  left: 170px;
  transform: rotate(45deg);
}

.tooltip4:hover .conteudo4 {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0px);
}

/* ================================= TOOLTIP 5 ================================= */

.container-topltip5 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #333;
}

.tooltip5 {
  position: absolute;
  left: 36.5%;
  top: 154.5%;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #777;
  border-radius: 50%;
  margin: 0 20px;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}

.tooltip5:hover {
  background: #86ff3b;
  box-shadow: 0 0 0 4px #333, 0 0 0 6px #86ff3b;
}

.tooltip5 .conteudo5 {
  position: absolute;
  top: 55px;
  width: 350px;
  height: 275px;
  background: #121212;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateX(-50%) translateY(-50px);
}

.tooltip5 .conteudo5 .cobre5 {
  position: absolute;
  top: 43px;
  left: 25px;
  width: 85px;
  height: 85px;
}

.tooltip5 .conteudo5 .po5 {
  position: absolute;
  top: 158px;
  left: 32px;
  width: 80px;
  height: 80px;
}

.tooltip5 .conteudo5 p {
  position: relative;
  font-size: 21px;
  margin-left: 90px;
  padding: 10px;
}

.tooltip5 .conteudo5 p {
  position: relative;
  font-size: 21px;
  margin-left: 90px;
  padding: 10px;
}

.tooltip5 .conteudo5 h2 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.tooltip5 .conteudo5:before {
  content: "";
  position: absolute;
  top: -9px;
  width: 30px;
  height: 30px;
  background: #121212;
  bottom: -15px;
  left: 170px;
  transform: rotate(45deg);
}

.tooltip5:hover .conteudo5 {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0px);
}

/* ================================= TOOLTIP 6 ================================= */

.container-topltip6 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #333;
}

.tooltip6 {
  position: absolute;
  left: 84.8%;
  top: 154.5%;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #777;
  border-radius: 50%;
  margin: 0 20px;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}

.tooltip6:hover {
  background: #86ff3b;
  box-shadow: 0 0 0 4px #333, 0 0 0 6px #86ff3b;
}

.tooltip6 .conteudo6 {
  position: absolute;
  top: 55px;
  width: 350px;
  height: 275px;
  background: #121212;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateX(-50%) translateY(-50px);
}

.tooltip6 .conteudo6 .cobre6 {
  position: absolute;
  top: 43px;
  left: 25px;
  width: 85px;
  height: 85px;
}

.tooltip6 .conteudo6 .po6 {
  position: absolute;
  top: 158px;
  left: 32px;
  width: 80px;
  height: 80px;
}

.tooltip6 .conteudo6 p {
  position: relative;
  font-size: 21px;
  margin-left: 90px;
  padding: 10px;
}

.tooltip6 .conteudo6 p {
  position: relative;
  font-size: 21px;
  margin-left: 90px;
  padding: 10px;
}

.tooltip6 .conteudo6 h2 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.tooltip6 .conteudo6:before {
  content: "";
  position: absolute;
  top: -9px;
  width: 30px;
  height: 30px;
  background: #121212;
  bottom: -15px;
  left: 170px;
  transform: rotate(45deg);
}

.tooltip6:hover .conteudo6 {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0px);
}

/* ================================= TOOLTIP 7 ================================= */

.container-topltip7 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #333;
}

.tooltip7 {
  position: absolute;
  left: 36.5%;
  top: 218.3%;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #777;
  border-radius: 50%;
  margin: 0 20px;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}

.tooltip7:hover {
  background: #86ff3b;
  box-shadow: 0 0 0 4px #333, 0 0 0 6px #86ff3b;
}

.tooltip7 .conteudo7 {
  position: absolute;
  top: 55px;
  width: 350px;
  height: 275px;
  background: #121212;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateX(-50%) translateY(-50px);
}

.tooltip7 .conteudo7 .cobre7 {
  position: absolute;
  top: 43px;
  left: 25px;
  width: 85px;
  height: 85px;
}

.tooltip7 .conteudo7 .po7 {
  position: absolute;
  top: 158px;
  left: 32px;
  width: 80px;
  height: 80px;
}

.tooltip7 .conteudo7 p {
  position: relative;
  font-size: 21px;
  margin-left: 90px;
  padding: 10px;
}

.tooltip7 .conteudo7 p {
  position: relative;
  font-size: 21px;
  margin-left: 90px;
  padding: 10px;
}

.tooltip7 .conteudo7 h2 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.tooltip7 .conteudo7:before {
  content: "";
  position: absolute;
  top: -9px;
  width: 30px;
  height: 30px;
  background: #121212;
  bottom: -15px;
  left: 170px;
  transform: rotate(45deg);
}

.tooltip7:hover .conteudo7 {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0px);
}

/* ================================= TOOLTIP 8 ================================= */

.container-topltip8 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #333;
}

.tooltip8 {
  position: absolute;
  left: 84.8%;
  top: 218.3%;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #777;
  border-radius: 50%;
  margin: 0 20px;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}

.tooltip8:hover {
  background: #86ff3b;
  box-shadow: 0 0 0 4px #333, 0 0 0 6px #86ff3b;
}

.tooltip8 .conteudo8 {
  position: absolute;
  top: 55px;
  width: 350px;
  height: 275px;
  background: #121212;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateX(-50%) translateY(-50px);
}

.tooltip8 .conteudo8 .cobre8 {
  position: absolute;
  top: 43px;
  left: 25px;
  width: 85px;
  height: 85px;
}

.tooltip8 .conteudo8 .po8 {
  position: absolute;
  top: 158px;
  left: 32px;
  width: 80px;
  height: 80px;
}

.tooltip8 .conteudo8 p {
  position: relative;
  font-size: 21px;
  margin-left: 90px;
  padding: 10px;
}

.tooltip8 .conteudo8 p {
  position: relative;
  font-size: 21px;
  margin-left: 90px;
  padding: 10px;
}

.tooltip8 .conteudo8 h2 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.tooltip8 .conteudo8:before {
  content: "";
  position: absolute;
  top: -9px;
  width: 30px;
  height: 30px;
  background: #121212;
  bottom: -15px;
  left: 170px;
  transform: rotate(45deg);
}

.tooltip8:hover .conteudo8 {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0px);
}

/* ================================= TOOLTIP 9 ================================= */

.container-topltip9 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #333;
}

.tooltip9 {
  position: absolute;
  left: 36.5%;
  top: 282.7%;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #777;
  border-radius: 50%;
  margin: 0 20px;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}

.tooltip9:hover {
  background: #86ff3b;
  box-shadow: 0 0 0 4px #333, 0 0 0 6px #86ff3b;
}

.tooltip9 .conteudo9 {
  position: absolute;
  top: 55px;
  width: 350px;
  height: 275px;
  background: #121212;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateX(-50%) translateY(-50px);
}

.tooltip9 .conteudo9 .cobre9 {
  position: absolute;
  top: 43px;
  left: 25px;
  width: 85px;
  height: 85px;
}

.tooltip9 .conteudo9 .po9 {
  position: absolute;
  top: 158px;
  left: 32px;
  width: 80px;
  height: 80px;
}

.tooltip9 .conteudo9 p {
  position: relative;
  font-size: 21px;
  margin-left: 90px;
  padding: 10px;
}

.tooltip9 .conteudo9 p {
  position: relative;
  font-size: 21px;
  margin-left: 90px;
  padding: 10px;
}

.tooltip9 .conteudo9 h2 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.tooltip9 .conteudo9:before {
  content: "";
  position: absolute;
  top: -9px;
  width: 30px;
  height: 30px;
  background: #121212;
  bottom: -15px;
  left: 170px;
  transform: rotate(45deg);
}

.tooltip9:hover .conteudo9 {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0px);
}
