@import url("https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Mukta:wght@200&family=Oswald:wght@200;300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: var(--fundoimg);
  background-repeat: no-repeat;
  background-size: cover;
}

:root {
  --texto: white;
  --fundo: grey;
  --fundo2: #1a1a1a;
  --fundoimg: url("https://steamuserimages-a.akamaihd.net/ugc/1842536456297752183/3B5F5CDBF7CB08DD6557A627BA5E0B8B705B05E7/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false");
  --fundoimg2: url("/images/calculadora/fundo_ds.png");
  --font: "Mukta";
}

.container {
  display: flex;
  justify-content: space-around;
  color: var(--texto);
}

.darksteel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 3px 4px 10px #110239;
  background-color: #110239b7;
  width: 40%;
  height: 690px;
  margin-top: 105px;
}

.darksteel > h2 {
  padding-bottom: 20px;
  color: var(--texto);
  font-family: var(--font);
}

.calculo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculo label {
   font-size: 19px;
}

.calculo > input {
  border-radius: 12px;
  border: none;
  width: 150px;
  height: 30px;
  text-align: center;
}

.calculo > input:hover {
  border: 1px solid #18422a;
}

label {
  font-size: 20px;
  color: white;
}

select {
  font-size: 17px;
}

#resultado {
  font-size: 18px;
  text-align: center;
  color: var(--texto);
}

/* .anuncio {
  position: absolute;
  top: 260px;
  left: 60px;
  width: 350px;
  height: 480px;
  background-color: chocolate;
}

.anuncio img {
  width: 100%
}

.anuncio h1 {
  font-size: 35px;
  color: white;
  text-align: center;
  margin-top: 60px;
} */

/* RESPONSIVIDADE */

/* Mobile */
@media screen {
  @media (max-width: 580px) {
    body {
      background-image: url(/images/mobile/celular.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      color: white;
  }
  .darksteel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 4px 10px #0000009d;
    background-color: #0000009d;
    width: 420px;
    height: 700px;
  }
  .anuncio {
    position: absolute;
    top: 9px;
    left: 5px;
    width: 350px;
    height: 90px;
    background-color: chocolate;
  }
}

/* Tablet */
@media screen {
  @media (min-width: 581px) and (max-width: 1000px) {
    body {
      background-image: url(/images/mobile/mobile_maga.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .container{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
    .darksteel {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 3px 4px 10px #0000009d;
      background-color: #0000009d;
      width: 60%;
      height: 700px;
    }
    .anuncio {
      position: absolute;
      top: 9px;
      left: 152px;
      width: 550px;
      height: 100px;
      background-color: chocolate;
    }
  }
}
}

/* Desktop 1 */

@media screen {
  @media (min-width: 1000px) and (max-width: 1370px) {
    .anuncio {
      position: absolute;
      top: 9px;
      left: 388px;
      width: 570px;
      height: 100px;
      background-color: chocolate;
    }
  }
}

/* Desktop 2 */
@media screen {
  @media (min-width: 1366px) {
    body {
      /* background-image: url(/assets/images/desktop.jpg);
      background-repeat: no-repeat;
      background-size: cover; */
    }
  }
}

/* * Desktop 3 */

@media screen {
  @media (min-width: 1920px) {
    body {
      /* background-image: url(/assets/images/desktop.jpg);
      background-repeat: no-repeat;
      background-size: cover; */
    }
  }
}

