@import url("https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Mukta:wght@200&family=Oswald:wght@200;300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: var(--fundoimg2);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

:root {
  --texto: white;
  --fundo: grey;
  --fundo2: #1a1a1a;
  --fundoimg: url("https://steamuserimages-a.akamaihd.net/ugc/1690527987964181073/B73AE9E5ACC6E2C95444F33C8ED01E8CBDB618EF/?imw=1024&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false");
  --fundoimg2: url("/images/calculadora/mir4_2.jpeg");
  --fundoimg3: url("/images/calculadora/fundo_energia.png");
  --fundoimg4: url("/images/calculadora/fundo_energia_2.png");
  --font: "Mukta";
}

.container {
  display: flex;
  justify-content: space-around;
  color: var(--texto);
}

.energia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 3px 4px 10px #0d6368;
  background-color: #0d6368a2;
  width: 40%;
  height: 720px;
  margin-top: 95px;
}

.energia > h2 {
  padding-bottom: 20px;
  color: var(--texto);
  font-family: var(--font);
}

.calculo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculo label {
   font-size: 19px; 
}

.calculo > input {
  border-radius: 12px;
  border: none;
  width: 150px;
  height: 30px;
  text-align: center;
}

.calculo > input:hover {
  border: 1px solid #18422a;
}

label {
  font-size: 17px;
  font-family: Arial, sans-serif;
}

#resultado {
  font-size: 18px;
  text-align: center;
  color: var(--texto);
}

/* RESPONSIVIDADE */

/* Mobile */
@media screen {
  @media (max-width: 580px) {
    body {
      background-image: url(/images/mobile/celular.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      color: white;
  }
  .energia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 4px 10px #0000009d;
    background-color: #0000009d;
    width: 420px;
    height: 700px;
  }
}

/* Tablet */
@media screen {
  @media (min-width: 581px) and (max-width: 1000px) {
    body {
      background-image: url(/images/mobile/tablet.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .energia {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 3px 4px 10px #0000009d;
      background-color: #0000009d;
      width: 60%;
      height: 700px;
    }
  }
}

}