*,
*::after,
*::before {
  box-sizing: border-box;
}

.nav-link, .navbar-text , a {
  color: white!important;
  margin-left: 10px;
  text-decoration: none!important;
}

.footer-text {
  margin-left: 625px!important;
  font-size: 17px!important;
}

/* Desktop 1 */

@media screen {
  @media (min-width: 1280px) and (max-width: 1370px) {
    .footer-text {
      top: 120px!important;
      margin-left: 360px!important;
      font-size: 17px!important;      
    }
    .darksteel {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      box-shadow: 3px 4px 10px #110239;
      background-color: #110239b7;
      width: 50%;
      height: 690px;
      margin-top: 105px;
      margin-bottom: 45px;
    }
    .energia {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 3px 4px 10px #0000009d;
      background-color: #0000009d;
      width: 50%;
      height: 690px;
      margin-top: 105px;
      margin-bottom: 45px;
    }
    .xp {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      box-shadow: 3px 4px 10px #41745567;
      background-color: #2c48377a;
      width: 45%;
      height: 740px;
      margin-top: 105px;
      margin-bottom: 45px;
    }
  }
}