@import url("https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Mukta:wght@200&family=Oswald:wght@200;300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: var(--fundoimg3);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

:root {
  --texto: #000000;
  --texto2: #d0ff00;
  --texto3: #00eeff;
  --fundo: grey;
  --fundo2: #1a1a1a;
  --fundoimg: url("https://steamuserimages-a.akamaihd.net/ugc/1842536456297752183/3B5F5CDBF7CB08DD6557A627BA5E0B8B705B05E7/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false");
  --fundoimg2: url("/images/calculadora/mir4_2.jpeg");
  --fundoimg3: url("/images/calculadora/fundo_exp.png");
  --font: "Mukta";
}

.container {
  display: flex;
  justify-content: space-around;
  color: white;
}

.xp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 3px 4px 10px #41745567;
  background-color: #2c48377a;
  width: 40%;
  height: 740px;
  margin-top: 80px;
}

.xp > h2 {
  padding-bottom: 20px;
  color: white;
  font-family: var(--font);
}

.calculo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculo > label {
  font-size: 18px;
  color: white;
  font-family: Arial, Helvetica, sans-serif
}

.calculo > input {
  border-radius: 12px;
  border: none;
  width: 150px;
  height: 30px;
  text-align: center;
}

.calculo > input:hover {
  border: 1px solid #18422a;
}

select {
  font-size: 17px;
}

#resultado {
  font-size: 18px;
  text-align: center;
  color: var(--texto3);
}

#resultadofarm {
  font-size: 18px;
  text-align: center;
  color: var(--texto2);
} 

/* RESPONSIVIDADE */

/* Mobile */
@media screen {
  @media (max-width: 580px) {
    body {
      background-image: url(/images/mobile/celular.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      color: white;
  }
  .xp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 4px 10px #0000009d;
    background-color: #0000009d;
    width: 420px;
    height: 700px;
  }
}

/* Tablet */
@media screen {
  @media (min-width: 581px) and (max-width: 1000px) {
    body {
      background-image: url(/images/mobile/mobile_maga.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .xp {
      width: 48%;
      height: 700px;
    }
  }
}

/* Desktop 1 */

@media screen {
  @media (min-width: 1025px) {
    body {
      /* background-image: url(/assets/images/desktop.jpg);
      background-repeat: no-repeat;
      background-size: cover; */
    }
  }
}

/* Desktop 2 */
@media screen {
  @media (min-width: 1366px) {
    body {
      /* background-image: url(/assets/images/desktop.jpg);
      background-repeat: no-repeat;
      background-size: cover; */
    }
  }
}

/* * Desktop 3 */

@media screen {
  @media (min-width: 1920px) {
    body {
      /* background-image: url(/assets/images/desktop.jpg);
      background-repeat: no-repeat;
      background-size: cover; */
    }
  }
}

}